/****** Elad Shechter's RESET *******/
/*** box sizing border-box for all elements ***/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

figure {
  margin: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 0;
}

cite {
  font-style: normal;
}

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 36px;
}

h2 {
  font-size: 18px;
}

button {
  font-family: "Lato", sans-serif;
}

input {
  font-family: "Lato", sans-serif;
}

header h1 {
  color: #D04F4F;
}

#inputSearch .searchInput {
  background-color: #E7E7E7;
}
#inputSearch .input-group-text {
  background-color: #E7E7E7 !important;
  height: 74px !important;
}

/* DropDown CSS*/
.dropdown-container {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.dropdown-container .closed {
  display: grid;
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  height: auto !important;
  max-height: 450px;
  height: 50px;
}
.dropdown-container .closed li {
  margin-left: 15px;
  cursor: pointer;
}
.dropdown-container .closed li a {
  font-size: 14px;
  color: white;
}
.dropdown-container .dropdown-menus-ingredients,
.dropdown-container .dropdown-menus-appareils,
.dropdown-container .dropdown-menus-ustensiles {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  padding: 10px;
  height: 69px;
  width: 170px;
  position: relative;
  transition: width 350ms ease-out;
}
.dropdown-container .dropdown-option-ingredients,
.dropdown-container .dropdown-option-appareils,
.dropdown-container .dropdown-option-ustensiles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  color: white;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: 0px;
  transition: height 450ms ease-out;
  margin-top: -5px;
  z-index: 1;
  overflow-y: auto;
}
.dropdown-container #dropdown-ingredients,
.dropdown-container .dropdown-option-ingredients {
  background-color: #3282F7;
  border-radius: 5px;
}
.dropdown-container #dropdown-appareils,
.dropdown-container .dropdown-option-appareils {
  background-color: #68D9A4;
  border-radius: 5px;
}
.dropdown-container #dropdown-ustensiles,
.dropdown-container .dropdown-option-ustensiles {
  background-color: #ED6454;
  border-radius: 5px;
}
.dropdown-container .dropdown-arrow-ingredients,
.dropdown-container .dropdown-arrow-appareils,
.dropdown-container .dropdown-arrow-ustensiles {
  position: absolute;
  top: 25px;
  right: 15px;
  transition: rotate 350ms ease-out;
  cursor: pointer;
  color: white;
}
.dropdown-container .dropdown-title-ingredients,
.dropdown-container .dropdown-title-appareils,
.dropdown-container .dropdown-title-ustensiles {
  border: none;
  outline: none;
  background: none;
  text-align: left;
  font-size: 16px;
  padding: 10px 0 0 25px;
  width: 90%;
  height: 90%;
  color: white;
}
.dropdown-container input::-webkit-input-placeholder {
  color: white;
  opacity: 0.5;
  font-weight: 700;
}

.tags-container {
  max-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: white;
  padding: 10px;
  display: none;
  border-radius: 5px;
}
.tags-container .tags-closed {
  cursor: pointer;
}

.recipes-container {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}
.recipes-container .recipes-card {
  width: 100%;
  height: 380px;
  max-width: 700px;
}
.recipes-container .recipes-card .recipes__img {
  width: 100%;
  height: 52%;
  background-color: #C7BEBE;
  border-radius: 5px 5px 0px 0px;
}
.recipes-container .recipes-card .recipes__body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #E7E7E7;
  background-color: #E7E7E7;
  height: 48%;
  overflow: auto;
  padding: 10px 20px 10px 20px;
}
.recipes-container .recipes-card .recipes__header {
  font-size: 18px;
  font-weight: 400;
  color: black;
}
.recipes-container .recipes-card .recipes__description {
  overflow: hidden;
  font-size: 12px;
}
.recipes-container .recipes-card .recipes__ingredients {
  font-size: 12px;
  font-weight: 700;
  color: black;
}

.expend {
  width: 667px !important;
}

.show {
  display: flex !important;
}

.container-fluid {
  --bs-gutter-x: 9.5rem !important;
}

/*# sourceMappingURL=style.css.map */
