@import './partials/resetmin';
@import './partials/mixin';
@import './partials/variables';


header {
    h1 {
        color: $primary;
    }
}

#inputSearch {

    .searchInput {
        background-color: $secondary;
    }
}

/* DropDown CSS*/

.dropdown-menus {
    background-color: $dropdown-ingredients-bg-color;
    height: 80px;
    width: 180px;
    transition: width 350ms ease-out;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $color-global;
    padding: 10px;


    .dropdown-arrow {
        position: absolute;
        top: 25px;
        right: 15px;
        transition: rotate 350ms ease-out;
        cursor: pointer;
        color: $color-global;
    }

    .dropdown-option {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        color: $color-global;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        height: 0px;
        transition: height 450ms ease-out;
        margin-top: -5px;
        z-index: 1;
        overflow-y: auto;
    }

    .dropdown-options-inactive {
        height: 0 !important;
        transition: width 450ms ease-out;
        width: 0 !important;
    }

    .closed {
        height: 50px;
        display: grid;
        grid-template-rows: repeat(auto-fill, 1fr);
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        height: auto !important;
        max-height: 450px;
        background-color: $dropdown-ingredients-bg-color;

        li {
            display: flex;
            justify-content: center;

            a {
                font-size: 14px;
                color: $text-color-primary;
            }
        }
    }
}

.expend {
    width: 650px !important;
}
