@import './partials/resetmin';
@import './partials/mixin';
@import './partials/variables';
@import './partials/typography';

header {
    h1 {
        color: $primary;
    }
}

#inputSearch {

    .searchInput {
        background-color: $secondary;
    }

    .input-group-text {
        background-color: #E7E7E7 !important;
        height: 74px !important;
    }
}

/* DropDown CSS*/

.dropdown-container {
    display: flex;
    justify-content: flex-start;
    gap: 10px;

    .closed {
        height: 50px;
        display: grid;
        grid-template-rows: repeat(auto-fill, 1fr);
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        height: auto !important;
        max-height: 450px;

        li {
            margin-left: 15px;

            a {
                font-size: 14px;
                color: $text-color-primary;
            }
        }
    }

    .dropdown-menus-ingredients,
    .dropdown-menus-appareils,
    .dropdown-menus-ustensiles {

        height: 69px;
        width: 170px;
        transition: width 350ms ease-out;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: $text-color-primary;
        padding: 10px;
        ;
    }

    .dropdown-option-ingredients,
    .dropdown-option-appareils,
    .dropdown-option-ustensiles {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        color: $text-color-primary;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        height: 0px;
        transition: height 450ms ease-out;
        margin-top: -5px;
        z-index: 1;
        overflow-y: auto;
    }

    .dropdown-option-ingredients,
    #dropdown-ingredients {
        background-color: $dropdown-ingredients-bg-color;
        border-radius: 5px;
    }

    .dropdown-option-appareils,
    #dropdown-appareils {
        background-color: $dropdown-appareils-bg-color;
        border-radius: 5px;
    }

    .dropdown-option-ustensiles,
    #dropdown-ustensiles {
        background-color: $dropdown-ustensiles-bg-color;
        border-radius: 5px;
    }

    .dropdown-arrow-ingredients,
    .dropdown-arrow-appareils,
    .dropdown-arrow-ustensiles {
        position: absolute;
        top: 25px;
        right: 15px;
        transition: rotate 350ms ease-out;
        cursor: pointer;
        color: $text-color-primary;
    }

    .dropdown-title-ingredients,
    .dropdown-title-appareils,
    .dropdown-title-ustensiles {
        border: none;
        outline: none;
        background: none;
        text-align: left;
        font-size: 16px;
        padding: 10px 0 0 25px;
        width: 90%;
        height: 90%;
        color: white;

    }

    input::-webkit-input-placeholder {
        color: white;
        /*Change the placeholder color*/
        opacity: 0.5;
        /*Change the opacity between 0 and 1*/
        font-weight: 700;
    }
}

.recipes-container {
    @include recipe-card(35px);

    .recipes-card {
        width: 100%;
        height: 380px;
        max-width: 700px;

        .recipes {
            &__img {
                width: 100%;
                height: 52%;
                background-color: $img-container-bg-color;
                border-radius: 5px 5px 0px 0px;
            }

            &__body {
                @include recipe-card-body(20px);
                background-color: $body-container-bg-color;
                background-color: #E7E7E7;
                height: 48%;
                overflow: auto;
                padding: 10px 20px 10px 20px;
            }

            &__header {
                font-size: 18px;
                font-weight: 400;
                color: $text-color-secondary;
            }

            &__description {
                overflow: hidden;
                font-size: 12px;
            }

            &__ingredients {
                font-size: 12px;
                font-weight: 700;
                color: $text-color-secondary;
            }
        }
    }
}

.expend {
    width: 667px !important;
}

.container-fluid {
    --bs-gutter-x: 9.5rem !important;
}