//variables colors
$primary : #D04F4F;
$secondary : #E7E7E7;
$tertiary: #C7BEBE;


 //Pixel variables
 $buttons-border-radius: 5px;

//SASS Variables
$body-bg-color: white;

$tab-shadow-color: rgb(228, 169, 59);

$buttons-color: white;
$buttons-color--hover: black;
$buttons-color--focus: black;
$buttons-color--active: white;

$dropdown-ingredients-bg-color: #3282F7;
$dropdown-appareils-bg-color: #68D9A4;
$dropdown-ustensiles-bg-color: #ED6454;

$img-container-bg-color: $tertiary;
$body-container-bg-color: $secondary;


$text-color-primary: white;
$text-color-secondary: black;








